{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post/css/style.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'blog/greeting_message.html' %}
    {% block body %}{% endblock %}
</body>
</html>