{% extends 'blog/base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
    <h3><a href="#">{{post.title}}</a></h3>
    <h5>{{post.created_time|date:'Y-m-d'}}</h5>
    <p>{{post.body}}</p>
{% endblock %}