{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Post list{% endblock %}

{% block body %}
    <p>Posts count: {{posts_count}}</p>
    {% for post in posts_list %}
        {% if post.status == 1 %}
            <h3><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h3>
            <h5>{{post.created_time|date:'Y-m-d'}}</h5>
            <p>{{post.body|truncatewords:"100"}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}